*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(cover.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 250px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 1px;
    float: left;
    padding-top: 20px;
}
.menu{
    width: 200px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 32px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #ff7200;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: white;
}
.search{
    width: 333px;
    float: right;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
    background: white;
}
.content span{
    color: #ff7200;
    font-size: 65px;
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(97, 37, 3, 0.911)50%,rgba(97, 37, 3, 0.911)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}
.btnn:hover{
    background: white;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: white;
}
.icons ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
    align-items: center;
}
.icons ion-icon:hover{
    color: #ff7200;
}
/*Contact Us Section Styling*/
.contact{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	padding-bottom: 30px;
	background: peachpuff;
    margin-left: 40px;
}
.contact .title{
	color: black;
	text-align: center;
	font-size: 25px;
	padding-bottom: 25px;
}
.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.contact .contact-content .column{
	width: calc(50% - 30px);
}
.contact .contact-content .column .text1{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0;
	color: black;
	padding-top: 0px;
}
.contact .contact-content .column .text2{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0;
	color: black;
	padding-top: 20px;	
}
.contact .contact-content .left p{
	font-size: 18px;
	text-align: justify;
	padding-bottom: 30px;
}
.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 30px;
}
.contact .contact-content .left img{
	height: 20px;
	width: 20px;
}
.contact .contact-content .info .head{
	color: black;
	font-weight: 600;
	padding: 8px 0;
}
.contact .contact-content .info .sub-title{
	color: #ff7200;
	font-weight: 400px;
}
.contact .right form .fields{
	display: flex;
}
.contact .right form .fields,
.contact .right form .fields, .field{
	width: 80%;
	margin-bottom: 5px;
    margin-right: 80px;
}
.contact .right form .textarea{
	height: 80px;
	width: 100%;
}
.contact .right form .name{
	margin-right: 40px;
}
.contact .right form .email{
	margin-left: 10px;
}
.contact .right form .fields input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 80%;
	border: 1px solid lightgray;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 80%;
	border: 1px solid lightgray;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
	border-color: orange;
}
.contact right form textarea{
	padding-top: 20px;
	resize: none;
}
.contact .right form .button{
	height: 50px;
	width: 180px;
}
.contact .right form .button button{
	width: 65%;
	height: 65%;
	background: #ff7200;
	font-size: 17x;
	border-radius: 8px;
	cursor: pointer;
}
.contact .right form .button button:hover{
	color: black;
	background: lightblue;
	transform: scale(1.05);
}
/*Footer Section Styling*/
footer{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background: black;
	color: #ff7200;
	padding: 10px 25px;
}
footer span a{
	color: peachpuff;
}
footer span a:hover{
	color: lightblue;
}
/*Responsive Media Query*/
@media (max-width: 1920px){
	.home .max-width{
		 margin-left: : 0px;
	}
	.menu-button{
		display: none;
		z-index: 999;
	}
}
@media (max-width: 1104px){
	.about .about-content .left img{
		height: 50px;
		width: 50px;
	}
	.menu-button{
		display: none;
		z-index: 999;
}
@media (max-width: 991px){
	.max-width{
		padding: 0 50px;
	}
	.menu-button{
		display: none;
		z-index: 999;
}
@media (max-width: 947px){
	.home .home-content .text-1{
		font-size: 25px;
	}
	.menu-button{
		display: block;
		z-index: 999;
	}
	.navbar .menu{
		position: fixed;
		height: 80vh;
		width: 100%;
		left: 0;
		top: 0;
		background: black;
		padding-top: 80px;
		text-align: center;
		opacity: 70%;
	}
	.navbar .menu li{
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px;
	}
	.home .home-content .text-2{
		font-size: 25px;
	}
}
@media (max-width: 947px){
	.navbar .logo{
		font-size: 10px;
	}
}
@media (max-width: 947px){
	.home .home-content a{
		font-size: 15px;
	}
	.max-width{
        max-width: 930px;
	}
    .about .about-content .column{
    	width: 100%;
    }
    .about .about-content .left{
    	display: flex;
    	justify-content: center;
    	margin: 0 auto 60px;
    }
    .about .about-content .right{
    	flex: 100%;   	
    }
    .wall .wall-content .card{
    	width: calc(50% - 10px);
    	margin-bottom: 35px;
    }
    .contact .contact-content .column{
    	width: 100%;
    	margin-bottom: 35px;
    }
    .menu-button{
		display: block;
		z-index: 999;
}
@media (max-width: 690px){
	.max-width{
		padding: 0 23px;
	}
	.wall .wall-content .card{
		width: 100%;
	}
	.menu-button{
		display: block;
		z-index: 999;
}